.not-found {
  background-color: #202020;
  color: #fff;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.not-found__title {
  font-size: 140px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
}

.not-found__description {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  padding-top: 5px;
}

.not-found__link {
  position: absolute;
  bottom: 60px;
  text-decoration: none;
  color: #4285f4;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  cursor: pointer;
  background: transparent;
  border: none;
}

@media screen and (max-width: 910px) {
  .not-found__link {
    bottom: 222px;
  }
}

@media screen and (max-width: 610px) {
  .not-found__link {
    bottom: 30px;
    font-size: 12px;
  }

  .not-found__title {
    font-size: 80px;
  }

  .not-found__description {
    font-size: 12px;
    padding-top: 10px;
  }
}
