.page {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #202020;
  min-height: 100vh;
  color: #fff;
  font-family: "Inter", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

.page__wrapper {
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  max-width: 1280px;
  width: 100%;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inactive-button {
  pointer-events: none;
}
