.techs {
    background-color: #272727;
    color: #FFFFFF;
    padding: 100px 0;
}

.techs__content {
    width: calc(100% - 140px);
    margin: 0 auto;
    max-width: 1280px;
}

.techs__title {
    margin: 0;
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.88px;
    padding-bottom: 23px;
    border-bottom: 1px solid #DADADA;
}

.techs_container {
    width: 100%;
    align-items: center;

}

.techs__container-title {
    margin: 90px 0 26px;
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2px;
}

.techs__container-subtitle {
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; 
    letter-spacing: -0.56px;
    margin: 0 auto 100px;
    max-width: 460px;
}

.techs__list {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    gap: 10px;
    max-width: 690px;
}
.techs__text {
    margin: 0;
    width: 90px;
    height: 60px;
    background-color: #303030;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.techs__item {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.56px;
    color: #FFFFFF;
}

@media screen and (max-width: 910px){
    .techs {
        padding: 90px 0;
    }

    .techs__content {
        width: calc(100% - 100px);
    }

    .techs__container-title {
        margin: 80px 0 22px;
    }

    .techs__container-subtitle {
        line-height: 18px;
        margin-bottom: 83px;
        letter-spacing: -0.48px;
    }

    .techs__list {
        justify-content: center;
    }

    .techs__text {
        width: 84px;
        height: 57px;
    }

    .techs__item {
        font-size: 12px;
    }
}

@media screen and (max-width: 610px) {
    .techs {
        padding: 70px 0;
    }

    .techs__content {
        width: calc(100% - 28px);
    }

    .techs__title {
        font-size: 18px;
        letter-spacing: -0.72px;
        padding-bottom: 28px;
    }

    .techs__container-title {
        margin: 60px 0 24px;
        font-size: 30px;
        line-height: normal;
        letter-spacing: -1.2px;
    }

    .techs__container-subtitle {
        line-height: 16px;
        margin: 0 auto 50px;
        letter-spacing: -0.44px;
        font-size: 11px;
    }

    .techs__list {
        max-width: 180px;
        justify-content: space-between;
    }

    .techs__item {
        letter-spacing: -0.48px;
    }
}