.footer {
    background-color: #202020;
    color: #FFFFFF;
    padding: 79px 0 20px;
}

.footer__container {
    max-width: 1280px;
    width: calc(100% - 140px);
    margin: 0 auto;
}

.footer__info {
    border-bottom: solid 1px #424242;
}

.footer__title {
    margin: 0;
    color: #8B8B8B;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 20px;
}

.footer__content {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.footer__text {
    margin: 0;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
}

.footer__link-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.footer__link {
    color: #FFF;
    text-decoration: none;
    text-align: right;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
}

@media screen and (max-width: 910px){
    .footer {
        padding: 79px 0 20px;
    }

    .footer__container {
        width: calc(100% - 60px);
    }
}

@media screen and (max-width: 610px) {
    .footer__container {
        width: calc(100% - 20px);
    }

    .footer__title {
        font-size: 12px;
        padding-bottom: 21px;
    }

    .footer__content {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 30px;
        color: #8B8B8B;
    }

    .footer__link-content {
        flex-direction: column;
        align-items: center;
        gap: 12px;
        margin-bottom: 30px;
    }

    .footer__link {
        font-size: 12px;
    }

    .footer__text {
        font-size: 12px;
    }
}