.search-form {
    background-color: #202020;
    padding: 70px 0;
}

.search-form__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 140px);
    margin: 0 auto;
    border-bottom: 1px #424242 solid;
}

.search-form__input {
    padding: 0;
    border: none;
    font-size: 28px;
    font-weight: 500;
    line-height: normal;
    color: #424242;
    padding-bottom: 13px;
    background-color: initial;
}

.search-form__button {
    background-image: url(/src//images/find.svg);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: 34px;
    width: 34px;
    transition: opacity .2s linear;
    padding: 0;
}