.login {
    background-color: #202020;
    height: 100vh;
}

.login__container {
    width: 100%;
    max-width: 396px;
    margin: 0 auto;
    padding: 70px 0;
}

.login__logo {
    width: 38px;
    height: 38px;
}

.login__title {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    color: #FFFFFF;
    margin-top: 40px;
}

.login__form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.login__label-form {
    color: #8B8B8B;
    font-size: 10px;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 10px;
}

.login__input {
    padding: 0;
    background: #2F2F2F;
    width: 100%;
    height: 46px;
    border: none;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    box-sizing: border-box;
    outline: none;
    border-radius: 8px;
    margin-bottom: 20px;
    padding-left: 15px;
}

.login__input:last-of-type {
    margin-bottom: 0;
}

.login__input:focus {
    padding-left: 15px;
  }

.login__button {
    border-radius: 3px;
    background-color: #4285F4;
    color: #FFFFFF;
    width: 100%;
    height: 45px;
    font-size: 14px;
    font-weight: 500;
    line-height: normal;
    border: none;
    margin-top: 179px;
    padding: 0;
}

.login__question {
    margin: 0;
    color: #8B8B8B;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-top: 16px;
}

.login__link {
    text-decoration: none;
    color: #4285F4;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    padding-left: 6px;
}

@media screen and (max-width: 910px) {
    .login__container {
        padding: 232px 0 0;
    }
}

@media screen and (max-width: 610px) {
    .login__container {
        padding: 56px 0 0;
        text-align: center;
        max-width: 260px;
    }

    .login__title {
        margin-top: 50px;
    }

    .login__label-form {
        text-align: start;
    }

    .login__button {
        margin-top: 267px;
        font-size: 12px;
    }

    .login__error-message{
        text-align: start;
    }

    .login__question {
        margin-top: 14px;
    }

    .login__question {
        font-size: 12px;
    }
    
    .login__link {
        font-size: 12px;
        padding-left: 7px;
    }

    .login__form {
        margin-top: 80px;
    }
}